*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}

.container{
    width: 800px;
    height:180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}


.container::before{
    content: '';
    height: 180px;
    width: 180px;
    border-radius: 5px;
    background: #f41b75;
    position: absolute;
    top: -30%;
    left: -50px;
    z-index: -1;
}

.container::after{
    content: '';
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: #419aff;
    position: absolute;
    bottom: -30%;
    right: -50px;
    z-index: -1;
}

.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    backdrop-filter: blur(40px);
}

.clock span{
    font-size: 80px;
    font-weight: 700;
    min-width: 110px;
    position: relative;
    display: inline-block;
    text-align: center;
}

#hr::before{
    content: 'HOURS';
    font-size: 16px;
    position: absolute;
    bottom: -20px;
    left: 80px;
    transform: translateX(-50px);
}

#min::before{
    content: 'MINUTES';
    font-size: 16px;
    position: absolute;
    bottom: -20px;
    left: 70px;
    transform: translateX(-50px);
}

#sec::before{
    content: 'SECONDS';
    font-size: 16px;
    position: absolute;
    bottom: -20px;
    left: 70px;
    transform: translateX(-50px);
}