:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira sans' sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
}

header{
    padding: 20px 10px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 50px;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 20px;
}

#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 10px;
    border-radius: 25px;
    margin-right: 20px;
    color: var(--light);
    font-size: 20px;
}

#new-task-submit{
    color: var(--pink);
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 50px 25px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    padding: 25px;
}

.task-list h2{
    font-size: 30px;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 25px;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background: var(--darkest);
    border-radius: 25px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.text{
    color: var(--light);
    font-size: 25px;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.text:not(:read-only){
    color: var(--pink);
}

.content{
    flex: 1 1 0%;
}

.actions {
    display: flex;
    margin: 0 -0.5rem;
}

.actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.actions button:hover{
    opacity: 0.8;
}

.actions button:active{
    opacity: 0.6;
}

.actions .edit{
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.actions .delete{
    color: crimson;
}