:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}

*{
    color: var(--light);
    font-family: 'Fira sans' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--dark);
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    padding: 30px;
    background-color: var(--darker);
    border: 2px solid hsl(var(--darkest));
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
}

h1{
    font-size: 50px;
    color: var(--gray);
    text-align: center;
    margin-bottom: 30px;
}

#task-input-form{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#task-input{
    flex: 1;
    padding: 10px 20px;
    background: var(--darkest);
    font-size: 20px;
    color: var(--light);
    border-radius: 25px;
    margin-right: 20px;
    outline: none;
    border: none;
}

#task-input-submit{
    color: var(--pink);
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    white-space: nowrap;
    outline: none;
   border: none;
}

#tasks{
    width: 100%
}

.task{
    margin-bottom: 20px;
}

#tasks h2{
    color: var(--gray);
    font-size: 30px;
    margin-bottom: 30px;
}


.text {
    flex: 1;
    background: none;
    outline: none;
    appearance: none;
    padding: 10px;
    font-size:20px;
}

.content {
    display: flex;
    align-items: center;
    background: var(--dark);
    border-radius: 25px;
    padding: 5px 10px;
    margin-top: 20px;
}

.actions {
    display: flex;
    gap: 10px;
}

.edit-btn {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.delete-btn {
    color: var(--pink); 
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.4s;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
}

