body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

.container{
    margin: 100px auto 0;
    width: 100%;
    max-width: 530px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 10px;
    padding: 40px 35px;
    color: white;
    text-align: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card input{
    flex: 1;

    height: 30px;
    padding: 20px 10px;
    margin-right: 10px;

    border: none;
    outline: none;
    border-radius: 50px;

    font-size: 22px;
    font-weight: 500;
}

.card button{
    height:70px;
    width: 72px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
}


.card button img {
    height: 35px;
    width: 30px;
}

.weather{
    margin-top: 30px;
}

.weather-icon{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.temp{
    font-size: 88px;
    font-weight: 500;
}

.city{
    font-size: 80px;
    font-weight: 300;
    margin-top: -55px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    height: 40px;
}

.col-tee{
    margin-left: 10px;
}

.wind, .humidity{
    font-size:30px;
    margin-top: -10px;
}

.marg{
    margin-top: -20px;
}

.weather {
    display: none;
}

.error{
    display: none;
    text-align: left;
    font-size: 18px;
}